<section class="relative flex items-center justify-center min-h-[75vh] md:min-h-screen overflow-hidden"
   aria-label="Servicio premiun de detailing automotriz, limpieza y cuidado profesional">

   <div class="absolute inset-0 z-0" [ngStyle]="{
      'background-image': 'url(/images/hero-car.jpeg)',
      'background-size': 'cover',
      'background-position': 'top center md:center'
   }">
      <div class="absolute inset-0 bg-black/60"></div>
   </div>

   <div class="container relative z-10 px-4 mx-auto text-center animate-fade-in">

      <header>
         <h1 class="mb-6 text-5xl font-bold tracking-tighter text-white md:text-7xl lg:text-8xl">
            Tu auto, impecable
            <br />
            <span class="text-neutral-300">como nuevo</span>
         </h1>
      </header>

      <p class="max-w-2xl mx-auto mb-8 text-lg text-white md:text-xl">
         Experiencia de detailing premium con tecnología y cuidado profesional
      </p>
   </div>
</section>