<main class="grid min-h-screen lg:grid-cols-[2fr_1fr] bg-zinc-950">

   <aside class="relative hidden min-h-screen lg:block bg-zinc-900">
      <img src="images/auth-illustration.webp" class="object-cover object-center w-full h-full" />
   </aside>

   <section class="relative flex items-center justify-center p-4">
      <a routerLink="/" class="absolute flex items-center gap-2 top-10 left-6">
         <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
         </svg>
         <span class="text-sm font-medium text-zinc-300">Volver al Inicio</span>
      </a>
      <router-outlet />
   </section>

</main>